.header {
  background-color: #5ea2fa;
  padding: -0px 0;
  margin-left: -0px;
  color: #333;
  font-size: 10px;
  margin-bottom: 100px;
  width: 100%;
  padding-left: 0px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: right;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #141419;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: -35px;
  margin-right: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.h1 {
  padding-left: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
}

.field {
  position: relative;
  margin-bottom: 20px;
}

.field--spaced {
  margin-bottom: 40px;
}

.button-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.error-message {
  color: rgb(169, 69, 69);
  font-size: 14px;
  margin-left: 10px;
  white-space: nowrap;
}

.form-container {
  background: #5ea2fa;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 310px;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.field__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.field__label {
  position: absolute;
  top: 0.25em;
  left: 4px;
  font-size: 0.85em;
  color: darkgrey;
  transition: 0.2s ease;
  pointer-events: none;
}

.field__input:not(:placeholder-shown) + .field__label {
  color: black;
  scale: 1;
  translate: -0.5em -1.75em;
}

.field__input:focus + .field__label {
  color: #141914;
}

.button {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px rgba(128, 173, 244, 0.825), -6px -6px 12px #587be3;
}

.button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 17;
  background-image: linear-gradient(to right, #5ea2fa 0%, #ffffff 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button:hover::before {
  width: 9em;
}

.footer {
  margin-top: auto;
  background-color: #333;
  position: fixed;
  bottom: 0;

  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  border-top: 20px solid #5ea2fa;
  width: 100%;
}

.ft {
  color: #f8f5f5;
  background-color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
}

.card {
  background: #fff;
  border-radius: 10px;
  border: 2px solid #007bff;
  /* Голубая обводка для выделения */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px auto;
  padding: 20px;
  width: 400px;
  /* Фиксированная ширина карточки */
  /* min-height: 150px; */
  /* Минимальная высота карточки */
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.card .info span {
  font-weight: bold;
  color: #333;
}

.card .row {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

.card .info {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.card .row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #777;
}

.card h2,
.card .info,
.card .row {
  margin: 0;
  padding: 0;
}

.schedule h1 {
  text-align: center;
  margin-top: -70px;
  margin-left: 20px;
}
.schedule-container {
  margin-top: 20px;
  background-color: #5ea2fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  margin-bottom: 50px;
  display: flexbox;
  margin-left: -10px;
}
.period {
  text-align: center;
}
.schedule-period {
  border: 1px solid #ccc;
  color: #0e141a;
  padding: 10px;
  background-color: #fafafa;
  margin-bottom: 10px;
  border-radius: 10px;
}

.schedule-period h2 {
  margin-bottom: 5px;
  margin-top: 0px;
}

.schedule-item {
  padding: 5px 0;
  text-align: center;
}

.schedule-item:hover {
  background-color: #f4f4f9;
  border-radius: 10px;
}

.schedule-subject {
  font-size: 20px;
}

@media (max-width: 600px) {
  .schedule-item {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    font-size: 15px;
  }
  .schedule h1 {
    text-align: center;
    margin-left: -3px;
  }
  .schedule h2 {
    font-size: 20px;
  }
  .schedule-subject {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
  }

  .schedule-container {
    max-width: 80%;
    align-items: center;
    margin-bottom: 40%;
    margin-left: 10px;
  }
  nav {
    display: flex;
    justify-content: right;
    gap: 10px;
  }

  nav a {
    text-decoration: none;
    color: #141419;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: -35px;
    margin-right: 5px;
    transition: background-color 0.3s, color 0.3s;
  }

  .card {
    background: #fff;
    border-radius: 10px;
    border: 2px solid #007bff;
    /* Голубая обводка для выделения */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5px auto;
    padding: 10px;
    width: 300px;
    /* Фиксированная ширина карточки */
    /* min-height: 150px; */
    /* Минимальная высота карточки */
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 993px) {
  .Topblock1:not(.iskl) {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-left: 30px;
    margin-right: 30px;
    top: -95px;
    padding: 5px 0px 0px 5px;
    background: rgb(255, 255, 255, 0.5);
    border: 0;
  }

  .Bottomblockp {
    position: relative;
    left: 0px;
    top: -80px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .info {
    position: absolute;
    text-align: left;
    font-size: 20px;
    left: -150px;
  }

  .infobusy {
    height: 21px;
    width: 21px;
    background-color: rgb(217, 217, 217);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .infoyour {
    height: 21px;
    width: 21px;
    background-color: rgb(105, 248, 105);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .infofree {
    height: 21px;
    width: 21px;
    background-color: rgb(105, 153, 242);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .infochose {
    height: 21px;
    width: 21px;
    background-color: rgb(105, 212, 248);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .seat {
    height: 25px;
    width: 25px;
    background-color: rgb(105, 153, 242);
    margin: 0px 10px 3px 0px;
    border: 0;
    border-radius: 6px;
  }

  .seatch {
    height: 25px;
    width: 25px;
    background-color: rgb(105, 212, 248);
    margin: 0px 10px 3px 0px;
    border: 0;
    border-radius: 6px;
  }

  .seatyour {
    height: 25px;
    width: 25px;
    background-color: rgb(105, 248, 105);
    margin: 0px 10px 3px 0px;
    border: 0;
    border-radius: 6px;
  }

  .seatbusy {
    position: relative;
    top: -5px;
    height: 15px;
    width: 15px;
    background-color: rgb(217, 217, 217);
    margin: 0px 15px 3px 5px;
    border: 0;
    border-radius: 5px;
  }

  .seat1 {
    opacity: 100;
    display: inline-block;
    height: 21px;
    width: 21px;
    background-color: rgb(105, 153, 242);
    margin: 0px 5px 2.5px 0px;
    border: 0;
    border-radius: 5px;
  }

  .seatch1 {
    opacity: 100;
    display: inline-block;
    height: 21px;
    width: 21px;
    background-color: rgb(105, 212, 248);
    margin: 0px 5px 2.5px 0px;
    border: 0;
    border-radius: 5px;
  }

  .seatyour1 {
    opacity: 100;
    display: inline-block;
    height: 21px;
    width: 21px;
    background-color: rgb(105, 248, 105);
    margin: 0px 5px 2.5px 0px;
    border: 0;
    border-radius: 5px;
  }

  .seatbusy1 {
    position: relative;
    top: -2.5px;
    opacity: 100;
    display: inline-block;
    height: 14px;
    width: 14px;
    background-color: rgb(217, 217, 217);
    margin: 0px 9px 2.5px 4px;
    border: 0;
    border-radius: 3px;
  }

  .Addbutton {
    position: absolute;
    right: -300px;
    top: 90px;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(149, 186, 254);
    font-size: 25px;
  }
  .Delbutton {
    position: absolute;
    right: -300px;
    top: 155px;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(227, 208, 208);
    font-size: 25px;
  }
}

@media (max-width: 993px) {
  .Topblock1:not(.iskl) {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-left: 6px;
    margin-right: 6px;
    top: -80px;
    padding: 5px 0px 0px 5px;
    background: rgb(255, 255, 255, 0.5);
    border: 0;
  }

  .Bottomblockp {
    position: relative;
    left: 0px;
    top: -50px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .info {
    position: absolute;
    text-align: left;
    font-size: 10px;
    left: -70px;
  }

  .infobusy {
    height: 12px;
    width: 12px;
    background-color: rgb(217, 217, 217);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .infoyour {
    height: 12px;
    width: 12px;
    background-color: rgb(105, 248, 105);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .infofree {
    height: 12px;
    width: 12px;
    background-color: rgb(105, 153, 242);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .infochose {
    height: 12px;
    width: 12px;
    background-color: rgb(105, 212, 248);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .seat {
    height: 19px;
    width: 19px;
    background-color: rgb(105, 153, 242);
    margin: 0px 10px 3px 0px;
    border: 0;
    border-radius: 4px;
  }

  .seatch {
    height: 18px;
    width: 18px;
    background-color: rgb(105, 212, 248);
    margin: 0px 10px 3px 0px;
    border: 0;
    border-radius: 4px;
  }

  .seatyour {
    height: 18px;
    width: 18px;
    background-color: rgb(105, 248, 105);
    margin: 0px 10px 3px 0px;
    border: 0;
    border-radius: 4px;
  }

  .seatbusy {
    position: relative;
    top: -5px;
    height: 15px;
    width: 15px;
    background-color: rgb(217, 217, 217);
    margin: 0px 15px 3px 5px;
    border: 0;
    border-radius: 5px;
  }

  .seat1 {
    opacity: 100;
    display: inline-block;
    height: 15.5px;
    width: 15.5px;
    background-color: rgb(105, 153, 242);
    margin: 0px 3px 1.25px 0px;
    border: 0;
    border-radius: 4.5px;
  }

  .seatch1 {
    opacity: 100;
    display: inline-block;
    height: 15.5px;
    width: 15.5px;
    background-color: rgb(105, 212, 248);
    margin: 0px 3px 1.25px 0px;
    border: 0;
    border-radius: 2px;
  }

  .seatyour1 {
    opacity: 100;
    display: inline-block;
    height: 15.5px;
    width: 15.5px;
    background-color: rgb(105, 248, 105);
    margin: 0px 3px 1.25px 0px;
    border: 0;
    border-radius: 2px;
  }

  .seatbusy1 {
    position: relative;
    top: -2.5px;
    opacity: 100;
    display: inline-block;
    height: 9px;
    width: 9px;
    background-color: rgb(217, 217, 217);
    margin: 0px 2.5px 1.25px 0px;
    border: 0;
    border-radius: 1px;
  }

  .Addbutton {
    position: relative;
    height: 50px;
    width: 150px;
    left: 200px;
    top: -207.5px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(149, 186, 254);
    font-size: 25px;
  }
  .Delbutton {
    position: relative;
    height: 50px;
    width: 150px;
    left: 200px;
    top: -205px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(227, 208, 208);
    font-size: 25px;
  }
}

@media (max-width: 610px) {
  .footer {
    margin-top: auto;
    background-color: #333;
    position: fixed;
    bottom: 0;
  
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    border-top: 20px solid #5ea2fa;
    width: 100%;
    opacity: 0;
  }

  .Topblock1:not(.iskl) {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-left: 6px;
    margin-right: 6px;
    top: -60px;
    padding: 5px 0px 0px 5px;
    background: rgb(255, 255, 255, 0.5);
    border: 0;
  }

  .Bottomblockp {
    position: relative;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .info {
    position: absolute;
    text-align: left;
    font-size: 10px;
    left: -46px;
  }

  .infobusy {
    height: 12px;
    width: 12px;
    background-color: rgb(217, 217, 217);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .infoyour {
    height: 12px;
    width: 12px;
    background-color: rgb(105, 248, 105);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .infofree {
    height: 12px;
    width: 12px;
    background-color: rgb(105, 153, 242);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .infochose {
    height: 12px;
    width: 12px;
    background-color: rgb(105, 212, 248);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .seat {
    height: 18px;
    width: 18px;
    background-color: rgb(105, 153, 242);
    margin: 0px 10px 3px 0px;
    border: 0;
    border-radius: 4px;
  }

  .seatch {
    height: 18px;
    width: 18px;
    background-color: rgb(105, 212, 248);
    margin: 0px 10px 3px 0px;
    border: 0;
    border-radius: 4px;
  }

  .seatyour {
    height: 18px;
    width: 18px;
    background-color: rgb(105, 248, 105);
    margin: 0px 10px 3px 0px;
    border: 0;
    border-radius: 4px;
  }

  .seatbusy {
    position: relative;
    top: -5px;
    height: 15px;
    width: 15px;
    background-color: rgb(217, 217, 217);
    margin: 0px 15px 3px 5px;
    border: 0;
    border-radius: 5px;
  }

  .seat1 {
    opacity: 100;
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: rgb(105, 153, 242);
    margin: 0px 2.5px 1.25px 0px;
    border: 0;
    border-radius: 2px;
  }

  .seatch1 {
    opacity: 100;
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: rgb(105, 212, 248);
    margin: 0px 2.5px 1.25px 0px;
    border: 0;
    border-radius: 2px;
  }

  .seatyour1 {
    opacity: 100;
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: rgb(105, 248, 105);
    margin: 0px 2.5px 1.25px 0px;
    border: 0;
    border-radius: 2px;
  }

  .seatbusy1 {
    position: relative;
    top: -2.5px;
    opacity: 100;
    display: inline-block;
    height: 9px;
    width: 9px;
    background-color: rgb(217, 217, 217);
    margin: 0px 2.5px 1.25px 0px;
    border: 0;
    border-radius: 1px;
  }

  .Addbutton {
    position: sticky;
    height: 50px;
    width: 150px;
    right: 50px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(149, 186, 254);
    font-size: 25px;
  }
  .Delbutton {
    position: sticky;
    height: 50px;
    width: 150px;
    top: 2.5px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(227, 208, 208);
    font-size: 25px;
  }
}

@media (max-width: 365px) {
  .footer {
    margin-top: auto;
    background-color: #333;
    position: fixed;
    bottom: 0;
  
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    border-top: 20px solid #5ea2fa;
    width: 100%;
    opacity: 0;
  }

  .Topblock1:not(.iskl) {
    position: relative;
    margin-left: auto;
    margin-left: 2px;
    margin-right: 2px;
    top: -80px;
    padding: 5px 0px 0px 5px;
    background: rgb(255, 255, 255, 0.5);
    border: 0;
  }

  .Bottomblockp {
    position: relative;
    left: 0px;
    top: -69px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .info {
    position: absolute;
    text-align: left;
    font-size: 8px;
    left: -16px;
  }

  .infobusy {
    height: 10px;
    width: 10px;
    background-color: rgb(217, 217, 217);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .infoyour {
    height: 10px;
    width: 10px;
    background-color: rgb(105, 248, 105);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .infofree {
    height: 10px;
    width: 10px;
    background-color: rgb(105, 153, 242);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .infochose {
    height: 10px;
    width: 10px;
    background-color: rgb(105, 212, 248);
    display: inline-block;
    border: 0;
    border-radius: 5px;
  }

  .seat {
    height: 14px;
    width: 14px;
    background-color: rgb(105, 153, 242);
    margin: 0px 8px 3px 0px;
    border: 0;
    border-radius: 2px;
  }

  .seatch {
    height: 14px;
    width: 14px;
    background-color: rgb(105, 212, 248);
    margin: 0px 8px 3px 0px;
    border: 0;
    border-radius: 2px;
  }

  .seatyour {
    height: 14px;
    width: 14px;
    background-color: rgb(105, 248, 105);
    margin: 0px 8px 3px 0px;
    border: 0;
    border-radius: 2px;
  }

  .seatbusy {
    position: relative;
    top: -5px;
    height: 15px;
    width: 15px;
    background-color: rgb(217, 217, 217);
    margin: 0px 15px 3px 5px;
    border: 0;
    border-radius: 5px;
  }

  .seat1 {
    opacity: 100;
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: rgb(105, 153, 242);
    margin: 0px 2px 1px 0px;
    border: 0;
    border-radius: 1px;
  }

  .seatch1 {
    opacity: 100;
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: rgb(105, 212, 248);
    margin: 0px 2px 1px 0px;
    border: 0;
    border-radius: 1px;
  }

  .seatyour1 {
    opacity: 100;
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: rgb(105, 248, 105);
    margin: 0px 2px 1px 0px;
    border: 0;
    border-radius: 1px;
  }

  .seatbusy1 {
    position: relative;
    top: -2.5px;
    opacity: 100;
    display: inline-block;
    height: 9px;
    width: 9px;
    background-color: rgb(217, 217, 217);
    margin: 0px 2.5px 1.25px 0px;
    border: 0;
    border-radius: 1px;
  }

  .Addbutton {
    position: sticky;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(149, 186, 254);
    font-size: 25px;
  }
  .Delbutton {
    position: sticky;
    height: 50px;
    width: 150px;
    top: 2.5px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(227, 208, 208);
    font-size: 25px;
  }
}
