.header {
  background-color: #5ea2fa;
  padding: -0px 0;
  margin-left: -0px;
  color: #333;
  font-size: 10px;
  margin-bottom: 100px;
  width: 100%;
  padding-left: 0px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: right;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #141419;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: -35px;
  margin-right: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.h1 {
  padding-left: 30px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
}


.field {
  position: relative;
  margin-bottom: 20px;
}

.field--spaced {
  margin-bottom: 40px;
}


.button-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}


.error-message {
  color: rgb(169, 69, 69);
  font-size: 14px;
  margin-left: 10px;
  white-space: nowrap;
}


.form-container {
  background: #5ea2fa;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.field__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.field__label {
  position: absolute;
  top: 0.25em;
  left: 4px;
  font-size: 0.85em;
  color: darkgrey;
  transition: 0.2s ease;
  pointer-events: none;
}

.field__input:not(:placeholder-shown)+.field__label {
  color: black;
  scale: 1;
  translate: -0.5em -1.75em;
}

.field__input:focus+.field__label {
  color: #141914;
}

.button {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px rgba(128, 173, 244, 0.825),
    -6px -6px 12px #587be3;
}

.button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 17;
  background-image: linear-gradient(to right, #5ea2fa 0%, #ffffff 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.button:hover::before {
  width: 9em;
}


.footer {
  margin-top: auto;
  background-color: #333;
  position: fixed;
  bottom: 0;

  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  border-top: 20px solid #5ea2fa;
  width: 100%;
}

.ft {
  color: #f8f5f5;
  background-color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
}


.card {
  background: #fff;
  border-radius: 10px;
  border: 2px solid #007bff;
  /* Голубая обводка для выделения */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px auto;
  padding: 20px;
  width: 400px;
  /* Фиксированная ширина карточки */
  /* min-height: 150px; */
  /* Минимальная высота карточки */
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.card .info span {
  font-weight: bold;
  color: #333;
}

.card .row {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

.card .info {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.card .row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #777;
}

.card h2,
.card .info,
.card .row {
  margin: 0;
  padding: 0;
}

.schedule h1{
  text-align: center;
  margin-top: -70px;
  margin-left: 20px;

}
.schedule-container {
  margin-top: 20px;
  background-color: #5ea2fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  margin-bottom: 50px;
  display: flexbox;
  margin-left: -10px;
}
.period{
  text-align: center;
}
.schedule-period {
  border: 1px solid #ccc;
  color: #0E141A;
  padding: 10px;
  background-color: #FAFAFA;
  margin-bottom: 10px;
  border-radius: 10px;
}

.schedule-period h2 {
  margin-bottom: 5px;
  margin-top: 0px;
}

.schedule-item {
  padding: 5px 0;
  text-align: center;
}

.schedule-item:hover{
  background-color:#f4f4f9;
  border-radius:10px;
}

.schedule-subject {
  font-size: 20px;
}

@media (max-width: 600px) {
  .schedule-item {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    font-size: 15px;
  }
  .schedule h1{
    text-align: center;
    margin-left: -3px;
  }
  .schedule h2{
    font-size: 20px;
  }
  .schedule-subject {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
  }

  .schedule-container {
    max-width: 80%;
    align-items:center;
    margin-bottom: 40%;
    margin-left: 10px;
  }
  nav {
    display: flex;
    justify-content: right;
    gap: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #141419;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: -35px;
    margin-right: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .card {
    background: #fff;
    border-radius: 10px;
    border: 2px solid #007bff;
    /* Голубая обводка для выделения */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5px auto;
    padding: 10px;
    width: 300px;
    /* Фиксированная ширина карточки */
    /* min-height: 150px; */
    /* Минимальная высота карточки */
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
